<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs')%>

        <!-- <h1>Backlog</h1>
        
        <h2>Sign In</h2> -->
    </header>
    <main>
    <div class="welcome">
        <h3>Welcome Back! Here's your collection.</h3>
    </div>
    
    <h5>All Games</h5>
    <ul>
    <% for (let i = 0; i < games.length; i++) { %>
        <!-- <div class="gamecard">

<li>
    <a href="/games/<%=games[i]._id%>"><%= games[i].title %></a><br>
    <div class="art">
        <a href="/games/<%=games[i]._id%>" class="boxart"><img src="<%=games[i].coverURL%>" id="cover" alt=""></a>
    </div>
    <br>
    <div class="delete-edit">
        <form action="/games/<%=games[i]._id%>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE">
        </form> 
        <a href="/games/<%=games[i].id%>/edit"><input type="submit" value="EDIT"></a>

    </div>
   
   
</li>
</div> -->
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
            
            <a href="/games/<%=games[i]._id%>" class="boxart"><img src="<%=games[i].coverURL%>" id="cover" alt=""></a>
          <span class="card-title"></span>
        </div>
        <div class="card-content">
            
          <p class="index-title"><%=games[i].title%> || <%=games[i].console%></p> <br> 
            <div class="card-btns">
        <a href="/games/<%=games[i].id%>/edit"class="btn-floating btn-small waves-effect waves-light black" id="ryan"><i class="material-icons">create</i></a> <form action="/games/<%=games[i]._id%>?_method=DELETE" method="POST">
            <button class="btn-floating btn-small waves-effect waves-light red" id="ryan"><i class="material-icons">remove</i>Delete</button>
        </form>  </div>
        </div>
      </div>
    </div>
  </div>
    <% } %> 
    </ul>
    <!-- action button bottom of screen -->
    <div class="fixed-action-btn">
        <a href="/games/new" class="btn-floating btn-large purple">
          <i class="large material-icons">add</i>
        </a>
      </div>
</main>
<!-- <footer>
    Color Themes Here
</footer> -->
</body>
</html>