<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs')%>

        <!-- <h1>Backlog</h1>
        
        <h2>Sign In</h2> -->
    </header>
    <main>

    <div class="welcome">
        <h2>Welcome Back! Here's your collection.</h2>
    <button><a href="/games/new">Add Game</a></button>
    </div>
    <div class="collection"></div>
    <ul>
    <% for (let i = 0; i < games.length; i++) { %>
        <div class="gamecard">

<li>
    <a href="/games/<%=games[i]._id%>"><%= games[i].title %></a><br>
    <div class="art">
        <a href="/games/<%=games[i]._id%>" class="boxart"><img src="<%=games[i].coverURL%>" alt=""></a>
    </div>
    <br>
    <form action="/games/<%=games[i]._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
    </form>
    <form action="">
        <a href="/games/<%=games[i].id%>/edit">Edit Game</a>
    </form>
   
</li>
    <% } %> 
    </ul>
</div>
</div>
</main>
<footer>
    Color Themes Here
</footer>
</body>
</html>